WORKSPACE_FOLDER_BASENAME=$(basename ${WORKSPACE_FOLDER})
BAZEL_REPO="${WORKSPACE_FOLDER}/bazel-${WORKSPACE_FOLDER_BASENAME}"
BAZEL_REPO_EXT="${BAZEL_REPO}/external"

# Configure .NET tooling.
export DOTNET_TOOLCHAIN="linux_amd64_6.0.101"
export PATH="${PATH}:${BAZEL_REPO_EXT}/core_sdk_${DOTNET_TOOLCHAIN}/core"

# Configure Go tooling.
export PATH="${PATH}:${BAZEL_REPO_EXT}/go_sdk/bin"
export GOPATH="${WORKSPACE_FOLDER}/bazel-bin/gopath"
export GOROOT="${BAZEL_REPO_EXT}/go_sdk"
export GOPACKAGESDRIVER="${WORKSPACE_FOLDER}/tools/bazel/go/gopackagesdriver.sh"

# Define aliases here:
alias bzl="bazel"
